@model IEnumerable<Project.Service.VehicleMake>
@{
    ViewBag.Title = "Home Page";
}

<h1>This is SPARTAA!!!</h1>
<br />
@foreach(var iteme in Model)
{
    <h2>@iteme.Id.ToString() - @iteme.Name - @iteme.Abrv</h2>
}

